<ion-header>
  <ion-toolbar>
    <ion-title>
      Webex Teams TEST
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="ion-padding">
      <h1>Meetings Quick Start</h1>
      <p>This sample demonstrates how to start a meeting using Webex JS-SDK in the browser.</p>
    
      <form id="destination">
        <input #invitee
          id="invitee"
          name="invitee"
          placeholder="Person ID or Email Address or SIP URI or Room ID"
          type="text">
          <input title="join" type="submit" value="join">
      </form>
    
      <div style="display: flex">
        <video style="width:50%" id="self-view" muted autoplay></video>
        <div style="width:50%">
          <audio id="remote-view-audio" autoplay></audio>
          <video id="remote-view-video" autoplay></video>
        </div>
      </div>
    
      <button id="hangup" title="hangup" type="button">cancel/hangup</button>
  </div> -->

  <form id="credentials" #credentials>
      <fieldset>
        <legend>Credentials</legend>
        <!-- <input 
          id="access-token"
          name="accessToken"
          placeholder="Your access token"
          type="text"> -->
        <input id="connect" title="connect" type="submit" value="connect">
        <p #connectionStatus id="connection-status">disconnected</p>
      </fieldset>
    </form>

    <form id="dialer" #dialer>
      <fieldset>
        <legend>Dialer</legend>
        <input #invitee
          id="invitee"
          name="invitee"
          placeholder="Person ID or Email Address or SIP URI or Room ID"
          type="text">
          <input title="dial" type="submit" value="dial">
      </fieldset>
    </form>

    <form id="constraints">
      <fieldset>
        <legend>Constraints</legend>
        <input #consAudio id="constraints-audio" title="audio" type="checkbox" checked>
        <label for="constraints-audio">Audio</label>
        <input #consVideo id="constraints-video" title="video" type="checkbox" checked>
        <label for="constraints-video">Video</label>
      </fieldset>
    </form>

    <form id="call-controls">
      <fieldset>
        <legend>Call Controls</legend>
        <button #hangup id="hangup" title="hangup" type="button">cancel/hangup</button>
      </fieldset>
    </form>

    <table id="call-status">
      <thead>
          <tr>
              <th colspan="2">Call Status</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Local Participant</td>
              <td #localStatus id="call-status-local"></td>
          </tr>
          <tr>
            <td>Remote Participant</td>
            <td #remoteStatus id="call-status-remote"></td>
        </tr>
      </tbody>
    </table>

    <div style="display: flex">
      <video style="width:50%" #localVideo id="self-view" muted autoplay playsinline></video>
      <div style="width:50%">
        <audio #remoteAudio id="remote-view-audio" autoplay playsinline></audio>
        <video #remoteVideo id="remote-view-video" autoplay playsinline></video>
      </div>
    </div>

</ion-content>
